{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h5>Hello {{ app.user.email }}!</h5>
        <a class="btn btn-primary btn-lg" href="{{ path('task_index') }}">
            My Tasks
        </a>
    {% endif %}
{% endblock %}
